<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Data</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/">
            <label for="Name">Enter Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" placeholder="Enter Name" name="name"><br>
            <label for="Email">Enter Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="email" placeholder="Enter Email" name="email"><br>
            <label for="Phone">Enter Phone Number &nbsp;</label>
            <input type="number" placeholder="Enter Phone number" name="phone"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
